.container{
	position:relative;
	text-align:center;
}

.username{
	position:absolute;
	top:2%;
	left:34%;
	text-align:center;
	width:30%;
	}
	
	.d1{
	position:absolute;
	top:61%;
	left:7%;
	text-align:center;
	width:30%;
	}
	
	.d2{
	position:absolute;
	top:61%;
	left:62%;
	text-align:center;
	width:30%;
	}

	.holder{
	padding-left:10%;
	padding-right:10%;
	}
	
	 @media(min-width:768px) 
	 {
	    	.holder{
	padding-left:10%;
	padding-right:10%;
	}
	 
	 }